
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IntranetLayout.cshtml";
}

<h1 class="text-center">Welkom op het intranet van HHS</h1>
<br />
<h4 class="text-center">Hier kan u aanpassingen maken op de schooldatabase.</h4>

