<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <connectionStrings>
      <add name="connectionDbSchool"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\SQLEXPRESS;
         Initial Catalog=dbSchool;
         Integrated Security=true"/>
    </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="\Main_Site/Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
