@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Directie Biekorfstraat</strong><br />
    <abbr title="Phone">P:</abbr>015 / 24 16 74<br />
    middenschool@heilig-hartcollege.be<br /><br />

    <strong>Directie Kloosterstraat</strong> <br />
    <abbr title="Phone">P:</abbr>015 / 24 16 36<br />
    bovenbouw@heilig-hartcollege.be<br /><br />

    <strong>CLB-psycholoog</strong><br />
    Griet Beirinckx <br />
    griet.beirinckx@clbkompas.be<br />
    <abbr title="Phone">P:</abbr>015 23 74 51<br /><br />

    <strong>Maatschappelijk werker</strong><br />
    Kathleen Sterckx<br />
    kathleen.sterckx@clbkompas.be<br />
    <abbr title="Phone">P:</abbr>015 23 74 62<br /><br />

    <strong>CLB-arts</strong><br />
    Mich Fannes<br />
    mich.fannes@clbkompas.be<br />
    <abbr title="Phone">P:</abbr>015 23 74 53<br /><br />

    <strong>Paramedisch werker</strong><br />
    Frank Matheï<br />
    frank.mathei@clbkompas.be<br />
    <abbr title="Phone">P:</abbr>015 23 74 55 <br /><br />

   <strong> Adres CLB</strong><br />
    Fr. Coeckelbergsstraat 2<br />
    2220 Heist-op-den-<br />
    <abbr title="Phone">P:</abbr>015 24 81 10<br />
    <abbr title="Fax">F:</abbr>015 24 96 63  
</address>

<address>
    <strong>ICT - Helpdesk </strong><br />
    <a href="mailto:help@ict.be">help@ict.be</a><br /><br />
    <strong>Marketing </strong> <br />
    <a href="mailto:help@ict.be">help@ict.be</a>
</address>