@model IEnumerable<HHS_MVC.Models.tblDocent>

@{
    ViewBag.Title = "Docenten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Docenten</h2>
<br />
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.voornaam)*@
            Voornaam
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.achternaam)*@
            Achternaam
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.email)*@
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
    </tr>
}

</table>
