@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="background:transparent !important">
    <h1>Welkom bij HHS</h1>
    <p class="lead">Heilig-Hartscholen Heist-op-den-Berg heet u hartelijk welkom</p>
    <p><a href="/richtingen" class="btn btn-primary btn-lg">Bekijk onze richtingen &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Richtingen</h2>
        <p>
            Bij HHS vind je een uitgebreid aanbod aan richtingen. Buiten de traditionele opleiden zijn er ook een aantal opvallende opleidingen die uniek zijn bij onze school 
        </p>
        <p><a class="btn btn-default" href="Home/Richtingen">Bekijk richtingen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Docenten</h2>
        <p>Ben je op zoek naar de contacgegevens van die ene docent? Bekijk ze hier.</p>
        <p><a class="btn btn-default" href="Home/Docenten">Bekijk docenten &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacteer onze school</h2>
        <p>Indien je een vraag hebt in verband met onze school kan je ons altijd contacteren. Onze helpdesk helpt u graag verder.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Contacteer ons &raquo;</a></p>
    </div>
</div>